body{
	margin: 0 auto;
	background-image: url("../image/desk.jpg");
	background-repeat: no repeat;
	background-size: 100% 720px;
	font:1em/1.5 sans-serif;
}

h1{
	margin-top: 20px;
	text-align: center;
	font-size: 40px;
	color: #3b3b3b;
	letter-spacing:-1px;
	text-shadow: 1px 1px 5px white;
	text-decoration: underline;
}

h2{
	margin-top: -10px;
	text-align: center;
	font-size: 40px;
	color: #3b3b3b;
	letter-spacing:-1px;
	text-shadow: 1px 1px 5px white;
	text-decoration: underline;
}

form{
	margin: 20px auto;
	width:320px;
	color: black;
}

input{
	padding: 10px;
	font-size: inherit;
}

input[type="text"]{
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid rgba(52, 73, 94, 0.7);
}

input[type="email"]{
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid rgba(52, 73, 94, 0.7);
}

input[type="date_date_set"]{
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid rgba(52, 73, 94, 0.7);
}

input[type="radio"]{
	margin: 0 8px 25px 18px;
	font-size: 10px;
	font:1em/1.5 calibri;
	font-weight: bold;
}

select{
	display: block;
	padding: 10px 10px 10px 10px;
	background: url(img/desk.png) no-repeat 95% center;
	background-color: white;
	border-radius: 4px;
	border: 2px solid rgba(52, 73, 94, 0.7);
	width: 100%;
}

input[type="submit"]{
	margin-top: 30px;
	width: 344px;
	height: 45px;
	border: none;
	background: rgba(52, 73, 94, 0.7);
	color: white;
	border-radius: 10px;
}